{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load render_table from django_tables2 %} 

{% block content %}

<div>
    <form method="POST">
        {% bootstrap_form form %}
        {% csrf_token %}
        <button class="btn btn-primary">{% trans 'Write a new message' %}</button>
    </form>
        <button class="btn btn-primary" style="margin-top:20px">
            <a style="color:#ffff" href="{% url 'forumMessages:view_categories' %}">{% trans 'Add new category' %}</a>
        </button>
</div>


  <div class="m-5">{% render_table messages %}</div>

{% endblock %}
