{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div>
    <form method="POST">
        {% bootstrap_form form_newMessage %}
        {% csrf_token %}
        <button class="btn btn-primary">{% trans 'Write a new message' %}</button>
    </form>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Author</th>
        <th scope="col">Content</th>
        <th scope="col"><a href="categorylist.html">Categories</a></th>
      </tr>
    </thead>
    <tbody>
    {% for message in messages %}  
      <tr>
        <td>{{message.date}}</td>
        <td>{{message.user}}</td>
        <td>{{message.text}}</td>
        <td>{{message.category}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="m-5">{% render_table table %}</div>

{% endblock %}
