{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}


<ul>
    {% for bookmark in bookmarks_list %}
    <li>{{ bookmark.urlname }}</li>
    {% endfor %}
</ul>

<div>
    <form method="POST">
        {% csrf_token %}
        <label for="bookmarks_list">Add website's address:</label>
        <input type="url" name="url" required>
        <label for="bookmarks_list">Add website's name:</label>
        <input type="text" name="urlname" required>
        <button class="btn btn-success">{% trans 'Add Bookmark' %}</button>
        {% if messages %}
        {% for message in messages %}
        {{Messages}}
        {% endfor %}
        {% endif %}
    </form>
</div>


{% endblock %}